<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'required.html' %}
    {% include 'nav.html' %}
    <title>plan destination</title>
</head>

<body>
    <div class="wrapper d-flex justify-content-center" style="height: 85vh;">
        <!-- 填寫送貨資訊 -->
        <div class="card mb-3 w-50 text-center">
            <div class="card-body ">
                <div class="source_info" style="display: none;">{{address_info}}</div>
                <div class="form-group row">
                    <label for="select" class="col-sm-2 col-form-label">目的地選擇</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="destination">
                            <option>請選擇目的地</option>
                            {% for d in dests %}
                            <option value={{d.city}}{{d.region}}{{d.address}} id={{d.id}}>{{d.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="readAddress" class="col-sm-2 col-form-label">目的地地址</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="address" placeholder="" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="packageNumbers" class="col-sm-2 col-form-label">貨物數量</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="pNumbers">
                    </div>
                </div>
                <button class="btn btn-success btn-sm" id="order">確認送出</button>
            </div>
        </div>
        <!-- 收貨確認 -->
        <table class="table w-75 table-bordered" id="deliverForm" style="display: none;">
            <thead>
                <tr class="table-success">
                    <th scope="col">貨物編號</th>
                    <th scope="col">出發地</th>
                    <th scope="col">出發地地址</th>
                    <th scope="col">出發時間</th>
                    <th scope="col">貨物數量</th>
                    <th scope="col">簽收</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="packages_id"></td>
                    <td id="source_name"></td>
                    <td id="source_address"></td>
                    <td id="start_time"></td>
                    <td id="p_counts"></td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm" id="signfor">簽收</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- 警示視窗 -->
        <div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body pb-0">
                        <div class="row justify-content-center">
                            <img src="/statics/images/warning.png">
                        </div>
                        <div class="row text-center justify-content-center mt-2">
                            <h3>
                                請確定您已拿取包裹且遠離無人機後
                            </h3>
                            <h3>
                                ，再點選確認返航！
                            </h3>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center" style="border: none;">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-success" id="return">確認返航</button>

                    </div>
                </div>
            </div>
        </div>

        <div id="map" style="width: 50%; height: 450px;"></div>
    </div>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key={{api}}&libraries=places"></script>
<script src="/statics/js/plan.js"></script>

</html>